.select {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 13px;
}

.select:hover {
  border-radius: 10px;
  outline: 1px solid rgb(98, 154, 219);
}

.select_edit {
  font-size: 13px;
}